
/*----------image gallery-----------*/
/* Styles for smaller screens */
@media (max-width: 768px) {
  .image-gallery img {
    width: 200%;
  }
}

/* Styles for larger screens */
@media (min-width: 1024px) {
  .image-gallery img {
    width: 300px;
  }
}

/*--------create navbar-----*/
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #161813;
  overflow-x: hidden;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  padding: 20px 10vw;
}

.navbar.bg{
  background: #161813;
}

.links-container{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo{
  height: 50px;
  margin-top: 10px;
}

.link-item{
  margin: 0 20px;
  transition: .5s;
}

.link-item a{
  color: 	#009ACD;
  text-decoration: none;
  padding: 20px;
}

.link-item:hover{
  transform: scale(1.2);
}

/*-----------Styling the HERO section ---------   */


.hero-section{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section-title{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 80px;
  text-align: center;
  text-transform: capitalize; 
}

.hero-section-sub-heading{
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  font-size: 20px;
}

.scroll-down-icon{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  animation: down ease 1s infinite;
}

@keyframes down{
  from { bottom: 10% }
  to { bottom: 8% }
}

/*--Styling the HERO section ---object fit resize images & video----z.index change the position of the stack------   */
.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  
}

.background::before, .background::after{
  content:'';
  position: absolute; 
  left: 0;
  width: 100%;
  height: 50%;

}

.background::before {   
  top: 0;
  left: 0;
  background:  var(gradient-top); /*starting from one color to another  */ 

}

.background::after {    /* ::before and ::after used to create some linear gradients   */
  bottom: 0;
  background: var(--gradient-bottom);

}
.grid-slider{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.grid-item {
  width: 100%;
  height: 100%;
  backgound: #000;
  opacity: 1;
  trransition: .5s;

}

.grid-item.hide {
  opacity: 0;
}


/*-----------Destination Section ---------   */
.destination-section {
  position: relative;
  width: 100%;
  padding: 80px 10vw;
  color:#fff;

}

.section-title {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.section-para {
  width: 50%;
    min-width: 300px;
    display: block;
    margin: 30px auto;
    text-align: center;
    line-height: 25px;
    opacity: 0.6;
}

.itinerary-container{
  position: relative;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-gap: 20px;
  margin-top: 100px;
}

.itinerary-card{
  width: 30%;
  height: 30%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0;
  overflow: hidden; 
  padding: 10px;
  display: flex;
  align-items: end;
}

.itinerary-card:nth-child(2){
  grid-row: span 2;
}

.itinerary-card:last-child{
  grid-column: span 2;
}

.itinerary-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: .5s;
  z-index: -1;
}

.itinerary-card:hover .itinerary-img{
  opacity: 0.8;
  transform: scale(1.1);
}

.itinerary-name{
  font-weight: 300;
}

.itinerary-action{
  margin-left: 20px;
  font-size: 14px;
  position: relative;
}

.itinerary-action::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 2px;
  
  width: 15px;
  height: 15px;
  background-size: contain;
} 



/*-----------Styling the HERO section ---------   */


